<div id="footer">
    <div class="container">
        <ul>
            <li>© 2013 Summeranciationalize</li>
            <li>doc</li>
            <li>faq</li>
            <li>about</li>
            <li><a href="http://weibo.com/Summeranciationalize">talk</a></li>
            <li><a href="/pin">pin</a></li>
            {% if loginUser %}
            <li><a href="/account/{{ loginUser }}">me</a></li>
            {% else %}
            <li><a href="/signin">login</a></li>
            {% endif %}
            <li><a href="/">bounce!</a></li>
        </ul>
    </div>
</div>